<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>curriculum
    </title>
    <script type="text/javascript" src='alertConfig.js'></script>
    
    <link rel="stylesheet" type="text/css"  href="style.css">
</head>

<body>

    <div id="bod">
    <header id="header">

        <div id="head">

            <img id="beta" src="betania.jpg" alt="">
            <div>

            <h1>
                Betania Celis 
            </h1>
            <h3>
                31.375085
            </h3>
            </div>
        </div>
    </header>
        
        <main>
            <aside id="left">

                <h2>Contacto</h2><br>
                <div class="block">
                    <ul>
                        <li>04163397294</li>
                        <li>betaniaCelis@gmail.com</li>
                        <li>betaCe@hotmail.com</li>
                    </ul>

                    <div class="redes">
                        <img class="redesimg" src="facebook.png" alt="facebook" title="facebook logo">
                        <a target="_blank" href="https://www.facebook.com/share/uPmGTShUnZTCuBq2/?mibextid=qi2Omg">Facebook de Betania</a>
                    </div>

                    <div class="redes">
                        <img class="redesimg" src="social.png" alt="facebook" title="facebook logo">
                        <a target="_blank" href="https://www.instagram.com/betaniacelis_?igsh=MXF6ZnNzdTBmY2JyeA==">instagram de Betania</a>
                    </div>

                </div>

                <h2>Habilidades</h2>
                <div class="block">

                    <ul>
                        <li>Liderazgo</li>
                        <li>Comunicacion asertiva</li>
                        <li>Gestion de activos</li>
                        <li>Resolucion de problemas</li>
                        <li>Elaboracion de reportes</li>
                        <li>Trabajo en equipo</li>
                    </ul>
                </div>

                    <h2>Educacion</h2>

                    <div class="block">

                    <ul>
                        <li> <strong>Analisis de datos </strong> <br> freeCodeCamp</li>
                        <li> <strong> Ingenieria en sistemas </strong><br> Universidad Nacional Experimental Romulo gallegos</li>
                        <li> <strong>Desarrollo web </strong> <br> Amer`s Web Development curse</li>
                    </ul>


                    </div>



            </aside>

            <aside id="right">

                <h2 class="h2r">Acerca de mi</h2>

                <div class="block">

                    <p>
                        me destaco por mi pasión y dedicación. Poseo habilidades técnicas en programación, desarrollo de software y diseño de sistemas. Soy una comunicadora efectiva y trabajo bien en equipo. Mi habilidad para resolver problemas y mi enfoque metódico me permiten abordar proyectos difíciles con confianza. Mantengo mi aprendizaje actualizado y estoy comprometida con el desarrollo profesional. Estoy emocionada por las oportunidades en mi carrera y ansío contribuir a proyectos desafiantes en el campo de la ingeniería en sistemas.
                    </p>
                </div>

                <h2  class="h2r" >Experiencia Laboral</h2>

                <div class="block">

                    <ul>
                        <li><strong>Analista de datos</strong><br>alcaravan 2023-2024 </li>
                        <li><strong>Desarrollador web fullstack</strong><br> webCode.co 2022-2023 </li>
                        <li> <strong>desarrolldor web backend</strong><br>CygnusDzine 2021-2022 </li>
                    </ul>


                </div>

                <h2>Idiomas</h2>

                <div class="block">

                    <ul>
                        <li>
                            español
                        </li>
                    </ul>

                </div>

            </aside>



        </main>
        
        <form action="/contacto" method='post' class="formularioo">

            <div class='inp'>
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" placeholder="Ingrese Nombre" required>
            </div>

            <div class='inp'>
                <label for="email">Correo</label>
                <input type="email" id="email" name="email" placeholder="Ingrese Email" required>
            </div>

            <div class='inp'>
                <label for="comentario">Comentario</label>
                <input type="text" id="comentario" name="comentario" placeholder="Ingrese Comentario" required>
            </div>

            <div class='inp'>
                <button title="Enviar Mensaje" class='button'>Enviar</button>
            </div>

        </form>

    </section>
        </div>
<script type="text/javascript" src="funcionalidad.js"></script>

</body>
</html>